@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
    --primary: #0369a1;
    --primary-bright: #0ea5e9;
    --accent: #047857;
    --accent-bright: #10b981;
    --background: #0f0f11;
    --secondary: #18181b;
    --secondary-bright: #27272a;
    --text: #e9e9e9;
    --text-grey: #6b6b6b;
    --border: #71717a80;
    --danger: #d51818;
    --danger-bright: #f13333;
}

@theme {
    --color-primary: var(--primary);
    --color-primary-bright: var(--primary-bright);
    --color-accent: var(--accent);
    --color-accent-bright: var(--accent-bright);
    --color-background: var(--background);
    --color-secondary: var(--secondary);
    --color-secondary-bright: var(--secondary-bright);
    --color-text: var(--text);
    --color-text-grey: var(--text-grey);
    --color-border: var(--border);
    --color-danger: var(--danger);
    --color-danger-bright: var(--danger-bright);
}

body,
#root {
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

.content {
    @apply max-w-5xl w-[90%] mx-auto;
}

.button {
    @apply px-4 py-2.5 rounded-full inline-flex justify-center items-center gap-2 border-2;
}

.modal {
    @apply max-w-lg w-[90%] min-h-32 max-h-full bg-zinc-700/30 backdrop-blur-lg rounded-2xl border border-white/5 p-4 flex flex-col items-center justify-between gap-6;
}

.modal-overlay {
    @apply w-screen h-screen fixed flex justify-center items-center top-0 left-0 bg-black/80 z-30;
}

input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
input.no-spinner {
    -moz-appearance: textfield;
    appearance: textfield;
}
