@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
    --primary: #0369a1;
    --primary-bright: #0ea5e9;
    --accent: #047857;
    --accent-bright: #10b981;
    --background: #0f0f11;
    --secondary: #18181b;
    --secondary-bright: #27272a;
    --text: #e1e1e1;
    --text-grey: #6b6b6b;
    --nav-text: #717376;
    --border: #71717a80;
    --danger: #d51818;
    --danger-bright: #f13333;

    --safe-top: env(safe-area-inset-top, 0px);
    --safe-bottom: env(safe-area-inset-bottom, 0px);
    --safe-left: env(safe-area-inset-left, 0px);
    --safe-right: env(safe-area-inset-right, 0px);
}

.light {
    --primary: #0ea5e9;
    --primary-bright: #0ea5e9;
    --accent: #10b981;
    --accent-bright: #10b981;
    --background: #ffffff;
    --secondary: #e9e9e9;
    --secondary-bright: #c8c8c8;
    --text: #1b1b1b;
    --text-grey: #6a6a6a;
    --nav-text: #717376;
    --border: #bdbdbd;
    --danger: #dc2626;
    --danger-bright: #ef4444;
}

body,
#root {
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

.content {
    @apply max-w-5xl w-[90%] mx-auto;
}

.button {
    @apply px-4 py-2.5 rounded-full inline-flex justify-center items-center gap-2 border-2 transition-all duration-200;
}

.modal {
    @apply max-w-lg w-[90%] min-h-32 max-h-full bg-[var(--secondary)] backdrop-blur-lg rounded-2xl border border-[var(--border)]/20 p-4 flex flex-col items-center justify-between gap-6;
}

.modal-overlay {
    @apply w-screen h-screen fixed flex justify-center items-center top-0 left-0 bg-black/80 z-30;
}

input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
input.no-spinner {
    -moz-appearance: textfield;
    appearance: textfield;
}

@custom-variant standalone {
    @media (display-mode: standalone) {
        @slot;
    }
}

@media screen and (display-mode: standalone) {
    body,
    #root {
        min-height: 100vh;
    }
}
