@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
    /* Colors */
    --primary: #0369a1;
    --primary-bright: #0ea5e9;
    --accent: #047857;
    --accent-bright: #10b981;
    --background: #0f0f11;
    --secondary: #151517;
    --secondary-bright: #202023;
    --text: #e1e1e1;
    --text-grey: #585858;
    --nav-text: #7d7f83;
    --border: #71717a80;
    --danger: #d51818;
    --danger-bright: #f13333;
    --input: var(--secondary);

    /* Border radius */
    --radius: 1.25rem;

    /* Content width */
    --content-width: 1000px;

    /* Font */
    --font: "Inter", sans-serif;

    /* Safe areas */
    --safe-top: max(env(safe-area-inset-top), 0.5rem);
    --safe-bottom: max(env(safe-area-inset-bottom), 0px);
    --safe-left: max(env(safe-area-inset-left), 0px);
    --safe-right: max(env(safe-area-inset-right), 0px);
}

.capacitor-android {
    --safe-top: 1.5rem;
    --safe-bottom: 1rem;
}

.light {
    --primary: #0ea5e9;
    --primary-bright: #0ea5e9;
    --accent: #10b981;
    --accent-bright: #10b981;
    --background: #e8e8e8;
    --secondary: #f7f7f7;
    --secondary-bright: #ffffff;
    --text: #1b1b1b;
    --text-grey: #6a6a6a;
    --nav-text: #717376;
    --border: #5a5e62;
    --danger: #dc2626;
    --danger-bright: #ef4444;
    --input: #f7f7f7;
}

body,
#root {
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: var(--font);
}

.content {
    max-width: var(--content-width);
    width: 90%;
    margin: 0 auto;
}

.button {
    padding: 0.5rem 0.75rem;
    border-radius: calc(infinity * 1px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-width: 2px;
    transition: 200ms;
}

.modal {
    max-width: 500px;
    width: 90%;
    min-height: 4rem;
    max-height: 100%;
    background-color: var(--secondary);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    border-radius: var(--radius);
    border: 1px solid color-mix(in srgb, var(--border) 20%, transparent);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.modal-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 30;
    -webkit-backdrop-filter: blur(0.25rem);
    backdrop-filter: blur(0.25rem);
}

input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
input.no-spinner {
    -moz-appearance: textfield;
    appearance: textfield;
}
